:root{
    --primary-color: #2CE900;
}

*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    padding: 0 !important;
}

section .section__wrapper{
    display: flex;
    flex-direction: column;
    padding: 40px 150px;
}

section .section__wrapper-purpose{
    background-color: #21A400;
    padding: 40px 30px;
    border-radius: 8px 8px 0 0;
    color: white;
}

section .section__wrapper-purpose-des p{
    font-size: 22px;
    margin-bottom: 0;
}

section .section__wrapper-content{
    background-color: white;
    padding: 20px 30px;
}

section .section__wrapper-content-tips{
    padding-bottom: 20px;
}

section .section__wrapper-content-tips p{
    font-size: 20px;
    margin-bottom: 0;
}

section .section__wrapper-content-selectCV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #7A7A7A;
    border-radius: 8px;
    padding: 15px 0;

}

section .section__wrapper-content-selectCV-title{
    display: flex;
    align-items: center;
}

section .section__wrapper-content-selectCV-title-img{
    margin-right: 10px;
    max-width: 10%;
    height: auto;
}

section .section__wrapper-content-selectCV-title-text h4{
    margin-bottom: 0;
}

section .section__wrapper-content-selectCV-note{
    font-size: 22px;
    color: #7A7A7A;
}

section .section__wrapper-content-selectCV-btnSelectCV .btn{
    background-color: #ECECEC;
    padding: 4px 16px;
    font-size: 20px;
}

section .section__wrapper-content-uploadCV{
    text-align: center;
    padding: 20px 0;
}

section .section__wrapper-content-uploadCV .btn{
    background-color: var(--primary-color);
    padding: 8px 20px;
    font-size: 22px;
    color: white;
}   

section .section__wrapper-content-benefit{
    border-top: 2px solid #ECECEC;
    padding-bottom: 10px;
}

section .section__wrapper-content-benefit-top,
section .section__wrapper-content-benefit-bottom{
    padding-top: 30px;
    display: flex;
}

section .section__wrapper-content-benefit-top-chances,
section .section__wrapper-content-benefit-top-performance,
section .section__wrapper-content-benefit-bottom-shares,
section .section__wrapper-content-benefit-bottom-connect{
    border: 2px solid #ECECEC;
    padding: 20px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 8px;
}

section .section__wrapper-content-benefit-top-chances,
section .section__wrapper-content-benefit-bottom-shares{
    margin-right: 15px;
}

section .section__wrapper-content-benefit-top-performance,
section .section__wrapper-content-benefit-bottom-connect{
    margin-left: 15px;
}

section .section__wrapper-content-benefit-top-chances-img,
section .section__wrapper-content-benefit-top-performance-img,
section .section__wrapper-content-benefit-bottom-shares-img,
section .section__wrapper-content-benefit-bottom-connect-img{
    height: auto;
    width: 90px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    line-height: 80px;
    margin-bottom: 25px;
}

section .section__wrapper-content-benefit-top-chances-img{
    background-color: #E1FFDA;

}
section .section__wrapper-content-benefit-top-performance-img{
    background-color: #FDEBD6;
}

section .section__wrapper-content-benefit-bottom-shares-img{
    background-color: #D6F4FD;

}
section .section__wrapper-content-benefit-bottom-connect-img{
    background-color: #FDD6D6;
}

section .section__wrapper-content-benefit-top-chances-img img,
section .section__wrapper-content-benefit-top-performance-img img,
section .section__wrapper-content-benefit-bottom-shares-img img,
section .section__wrapper-content-benefit-bottom-connect-img img{
    width: 70%;
    text-align: center;
    object-fit: contain;
}

section .section__wrapper-content-benefit-top-chances-des p,
section .section__wrapper-content-benefit-top-performance-des p,
section .section__wrapper-content-benefit-bottom-shares-des p,
section .section__wrapper-content-benefit-bottom-connect-des p{
    font-size: 22px;
}

section .section__wrapper-content-benefit-top-chances-des p{
    margin-bottom: 0;
}

